# dependencies
node_modules

# env - never commit secrets
.env
.env.local
.env.*.local
.env.production

# Next.js
.next/
out/
build/

# misc
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts